* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Colors: */

$--unnamed-color-000000: #000000;
$--unnamed-color-222222: #222222;
$--unnamed-color-535353: #535353;
$--unnamed-color-6e6e6e: #6E6E6E;
$--unnamed-color-999999: #999999;
$--unnamed-color-fed700: #FED700;

/* Font/text values */

$--unnamed-font-family-proxima-nova: Proxima Nova;
$--unnamed-font-style-normal: normal;
$--unnamed-font-weight-normal: normal;
$--unnamed-font-size-12: 12px;
$--unnamed-font-size-14: 14px;
$--unnamed-font-size-16: 16px;
$--unnamed-font-size-18: 18px;
$--unnamed-font-size-22: 22px;
$--unnamed-font-size-30: 30px;
$--unnamed-character-spacing-0: 0px;
$--unnamed-line-spacing-10: 10px;
$--unnamed-line-spacing-11-699999809265137: 11.699999809265137px;
$--unnamed-line-spacing-19-799999237060547: 19.799999237060547px;
$--unnamed-line-spacing-24-200000762939453: 24.200000762939453px;
body {
    font-family: 'proxima-nova', sans-serif;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
}

.mapa {
    display: flex;
    width: 15%;
    gap: 0.5rem;
    color: $--unnamed-color-6e6e6e;
    .right {
        width: 10px;
        height: 10px;
        img {
            width: 100%;
            height: 100%;
            color: $--unnamed-color-6e6e6e;
        }
    }
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 90px;
    padding-top: 40px;
    .contenedor_imagen {
        width: 62%;
        height: 430px;
        .imagen_principal {
            width: 100%;
            height: 100%;
        }
    }
    .contenido {
        width: 29%;
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: $--unnamed-color-fed700 6px solid;
        .contenido_categoria {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            color: $--unnamed-color-222222;
            font-size: 12px;
            margin-bottom: 20px;
            width: 100%;
            .punto {
                width: 3px;
                height: 3px;
                display: flex;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .contenido_principal {
            h1 {
                font-size: 30px;
                font-weight: bold;
                color: $--unnamed-color-535353;
                margin-bottom: 20px;
            }
            p {
                color: $--unnamed-color-6e6e6e;
                font-size: 16px;
                line-height: 1.7;
                margin-bottom: 40px;
            }
            a {
                display: inline-block;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;
                color: $--unnamed-color-000000;
            }
        }
    }
}

.contenedor_card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100%;
        .img_card {
            width: 95%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .card_categoria {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            color: $--unnamed-color-222222;
            font-size: 12px;
            margin-bottom: 20px;
            width: 95%;
            margin-top: 10px;
            .punto {
                width: 3px;
                height: 3px;
                display: flex;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .card_principal {
            width: 95%;
            height: 200px;
            h1 {
                font-size: 18px;
                margin-bottom: 20px;
                height: 30px;
                color: $--unnamed-color-535353;
            }
            p {
                font-size: 16px;
                color: $--unnamed-color-6e6e6e;
                line-height: 1.2;
            }
            a {
                display: inline-block;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;
                color: $--unnamed-color-000000;
                margin-top: 10px;
            }
        }
    }
}

.paginacion {
    width: 100%;
    height: 48px;
    background-color: #f1f1f1;
    padding: 0 30px;
    font-size: 16px;
    .mostrando {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $--unnamed-color-999999;
        height: 100%;
        .numeracion {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 20%;
            .uno {
                color: $--unnamed-color-fed700;
            }
        }
    }
}